<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="Nopackage" >
    <classes>
       <class name="NoPackageTest" />
    </classes>
  </test>
 
  <test name="Regression1">
    <classes>
      <class name="com.parishta.FirstSelenium.Registration">
      <methods >
 		<!-- <include name="vlidateExistingUser"></include> -->
 		<!-- <include name="validateNewUser"></include> -->
 		<include name="login"></include>
     
      </methods>
      </class>
     
    </classes>
  </test>
</suite>
